<ion-header>
<ion-toolbar color="danger">
  <button ion-button menuToggle left>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>
    SarvMaan
  </ion-title>
 <button ion-button menuToggle right>
    <ion-icon name="search"></ion-icon>
  </button>
</ion-toolbar>
</ion-header>

<ion-content>
 <ion-tabs color="danger">
 <ion-tab [root]="all" tabTitle="All" active></ion-tab>
 <ion-tab [root]="approved" tabTitle="Approved"></ion-tab>
 <ion-tab [root]="new" tabTitle="New"></ion-tab>
 <ion-tab [root]="pending" tabTitle="Pending"></ion-tab>
 

</ion-tabs>

<button ion-button color="danger" style="height: 40px;width: 40px; border-radius: 20px; float: right; margin-top: 145%; margin-right: 3%"></button>
</ion-content>
